body
{
	/* margin: 0;
	padding: 0; */
	background: #dde6ed;
    text-align: center;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center; /* Menengahkan konten secara vertikal */
    background: #526d82;
}

h2 {
    margin-top: 120px; /* Atur jarak atas antara .top dan <h2> */
    
}

.centered-list {
    margin: 0 auto; /* Menengahkan elemen <ol> secara horizontal */
    max-width: 400px; /* Menetapkan lebar maksimum agar elemen tidak melebar secara penuh */
    
    text-align: left;
}